.idea
node_modules
.env
coverage
coverage.json
typechain
typechain-types

#Hardhat files
cache
artifacts

.yarnrc.yml
.yarn/releases

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*